<a href="https://colab.research.google.com/github/Justion1234/-Python-basic-syntax/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9C%BC%EB%A1%9C_%EB%B0%B0%EC%9A%B0%EB%8A%94_%EC%9B%B9_%ED%81%AC%EB%A1%A4%EB%9F%AC_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬으로 데이터 출력하기

In [ ]:
print('고등학생-김준성')

고등학생-김준성

# 변수

프로그래밍에는 **변수**와 **상수**라는 개념이 있습니다. 변수는 데이터가 저장되는 공간, 상수는 변하지 않는 값을 의미합니다. 파이썬에서 변수에 저장되는 데이터의 타입은 다양하게 존재합니다.

변수를 사용하는 방법

In [ ]:
var = 10
print(var)
print(var)
print(var)
print(10)

10
10
10
10

변수로 변수 값 바꾸기

In [ ]:
var1 = 10
var2 = 20
print(var1)
var1 = var2
print(var1)

10
20

변수 생성 없이 변수 사용할 때

In [ ]:
print(novar)

NameError: ignored

변수 생성 없이 변수를 사용할 때 오류남

NameError 해결

In [ ]:
novar = 10
print(novar)

10

위에서 오류난 NameError 해결

# 데이터 타입

## 숫자형

다양한 숫자 출력

In [ ]:
print(25)
print(25.0)
print(25.1)
print(-25)
print(-25.0)

25
25.0
25.1
-25
-25.0

변수 사용하여 데이터 출력

In [ ]:
var1 = 25
var2 = 25.0
var3 = 25.1
var4 = -25
var5 = -25.0
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

25
25.0
25.1
-25
-25.0

하나의 변수만 가지고 데이터를 바꿔가면서 출력

In [ ]:
var1 = 25
print(var1)
var1 = 25.0
print(var1)
var1 = 25.1
print(var1)
var1 = -25
print(var1)
var1 = -25.0
print(var1)

25
25.0
25.1
-25
-25.0

사칙연산 코드

In [ ]:
var1 = 10
var2 = 25
print(var1+var2)  #덧셈 연산
print(var1-var2)  #뺄셈 연산
print(var1*var2)  #곱셈 연산
print(var2/var1)  #나눗셈 연산
print(var2//var1) #나눗셈 연산
print(var2%var1)  #나눗셈 연산 - 나머지

35
-15
250
2.5
2
5

## 문자열

문자열 만드는 방법

In [ ]:
var1 = '김준성'
var2 = '18'
var3 = '고등학생'
var4 = '여의도'
print(var1)
print(var2)
print(var3)
print(var4)

김준성
18
고등학생
여의도

문자열 연산하기

In [ ]:
 var1 = 'hello'
 var2 = 'world'
 var3 = var1 + ' ' + var2
print(var1)
print(var2)
print(var3)

hello
world
hello world

### 문자열 치환하기

replace 사용 방법

In [ ]:
var = 'hello world!'
print(var)
var = var.replace('!', '?')
print(var)

hello world!
hello world?

replace를 이용하여 특정 문자 없애기

In [ ]:
var = 'hello world?'
var = var.replace('?', '')
print(var)

hello world

가격 replace 처리하기-1

In [ ]:
var = '19,000원'
var = var.replace(',', '')
print(var)
var = var.replace('원', '')
print(var)

19000원
19000

가격 replace 처리하기-2

In [ ]:
var = '19,000원'
var = var.replace(',', '').replace('원', '')
print(var)

19000

###문자열 찾기

find 이용하여 문자열 찾기-1

In [ ]:
var1 = 'hello world'
finded1 = var.find('a') #찾는 값이 없을 경우 -1변환
finded2 = var1.find('world')
print(finded1)
print(finded2)

-1
6

find 이용하여 문자열 찾기-2

In [ ]:
var1 = 'hello world'
print(var1.find('world'))
print(var1.find('World'))

6
-1

###문자열 인덱싱, 슬라이싱하기

인덱싱과 슬라이싱

In [ ]:
var = 'hello world'
print(var[0])
print(var[1])
print(var[0:4])

h
e
hell

슬라이싱 고급 스킬

In [ ]:
var = 'hello world'
print(var[:])
print(var[:2])
print(var[2:])

hello world
he
llo world

인덱싱, 슬라이싱 고급 스킬

In [ ]:
var = 'hello world'
print(var[-1])
print(var[-2])
print(var[-3: -2])

d
l
r

인덱싱을 하거나 슬라이싱을 할 때 범위를 벗어난다면?

In [ ]:
var = 'hello world'
print(var[20])

IndexError: ignored

split 이용하여 문자열 나누기

In [ ]:
var = 'hello world !@'
print(var.split())

['hello', 'world', '!@']

split 특정 문자열 기준으로 나누기

In [ ]:
var = 'hello world !@'
print(var.split('l'))

['he', '', 'o wor', 'd !@']

###문자열의 다양한 함수

문자열 대소문자 변환

In [ ]:
var1 = 'hello world'
var2 = 'HELLO WORLD'
print(var1.upper())
print(var2.lower())

HELLO WORLD
hello world

문자열 개수

In [ ]:
var = 'hello world'
print(len(var))

11

공백 제거

In [ ]:
var = ' hello world '
print(var.rstrip())
print(var.lstrip())
print(var.strip())

 hello world
hello world
hello world

문자열 포멧팅

In [ ]:
var0 = 'I am' + ' 김준성'
print(var0)
var1 = 'I am {name}'.format(name='김준성')
print(var1)
var2 = 'I am {0}'.format('김준성')
print(var2)
var3 = 'I am {0} I am {name}'.format('김준성', name='고등학생')
print(var3)

I am 김준성
I am 김준성
I am 김준성
I am 김준성 I am 고등학생

문자열 + 연산의 단점

In [ ]:
var0 = 'I am age ' + 25
print(var0)

TypeError: ignored

TypeError 해결 방법

In [ ]:
age = 25
var0 = 'I am age ' + str(age)
var1 = 'I am age {0}'.format(age)
print(var0)
print(var1)

format()을 이용하면 굳이 str()을 사용하지 않고 숫자형과 문자형을 합칠 수 있습니다.

##리스트

리스트 생성

In [ ]:
var = list([1, 2, 3, 4, 5])
print(var)
var = [1, 2, 3, 4, 5]
print(var)

###인덱싱, 슬라이싱하기

인덱싱 슬라이싱하기

In [ ]:
var = [1, 2, '3', 4, 5, 6]
print(var[0])
print(var[1])
print(var[0:4])

###문자열 split 살펴보기

split하여 리스트 형태로 변환하기

In [ ]:
var = 'hello world'
print(var.split())

###join을 이용하여 리스트를 문자열로 만들기

특정 문자열을 포함시켜 리승트를 문자열로 만들기

In [ ]:
a = ['1', '2', '3', '4', '5']
b = '.'.join(a)
print(b)

숫자형이 포함된 리스트 join하기

In [ ]:
a = [1, '2', 3, '4', '5']
b = '.'.join(a)
print(b)

###중첩된 리스트

중첩된 리스트 생성

In [ ]:
a = [1, 2, 3, 4, [5, 6, 7]]
print(a)
print(a[4])
print(a[4][0])
print(a[4][1])
print(a[4][2])
print(a[-1][0])
print(a[-1][1])
print(a[-1][2])

[1, 2, 3, 4, [5, 6, 7]]
[5, 6, 7]
5
6
7
5
6
7

### 리스트 연산

+, *연산하기

In [ ]:
var1 = [1, 2, 3, 4, 5]
var2 = [6, 7, 8, 9, 10]
num = 3
print(var1 * 3)
print(var1 + var2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 리스트 수정, 삭제

인덱싱을 이용하여 리스트 수정하기

In [ ]:
var = [1, 2, 3, 4, 5]
print(var)
var[2] = 10
print(var)
var[3] = [11, 22, 33]
print(var)

슬라이싱을 이용하여 리스트 수정

In [ ]:
var1 = [1, 2, 3, 4, 5]
var2 = [1, 2, 3, 4, 5]
print(var1)
var1[2:4] = [0, -1]
print(var1)
var2[2:4] = [0, -1, -2]
print(var2)

리스트 요소 삭제

In [ ]:
var1 = [1, 2, 3, 4, 5]
var2 = [1, 2, 3, 4, 5]
del var1[1]
var2[0:3] = [ ]
print(var1)
print(var2)

###리스트의 다양한 함수

리스트 요소 추가하기

In [ ]:
var = [1, 2, 3, 4, 5]
var.append(10)
print(var)
var.append(20)
print(var)

append()를 이용하면 마지막 요소 뒤에 추가할 수 있습니다.

리스트 요소 제거하기 -1

In [ ]:
var = [1, 2, 3, 4, 5]
print(var.pop())
print(var)

pop() 함수를 이용하면 마지막 요소를 가져오면서(반환) 리스트에서 제거해줍니다. 만약 마지막 요소가 아닌 특정 값을 제거하고 싶다면 pop()이 아닌 remove()를 이용하면 됩니다.

리스트 요소 제거하기 -2

In [ ]:
var = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(var.remove(4))
print(var)

리스트 정렬 -1

In [ ]:
var = [3, 5, 1, 2, 3, 4, 12, 13]
var.sort()
print(var)
var.sort(reverse=True)
print(var)

sort() 함수에 reverse=True 오볏ㄴ 인자를 같이 넘겨주면 내림차순으로 정렬할 수 있습니다.

리스트 정렬 -2

In [ ]:
var = ['a', 'd', 'c', 'b']
var.sort()
print(var)
var.sort(reverse=True)
print(var)

대문자와 소문자가 섞여 있다면, 대문자가 먼저 정렬됩니다.

리스트 정렬 -3

In [ ]:
var = ['A', 'd', 'C', 'b']
var.sort()
print(var)
var.sort(reverse=True)
print(var)

리스트 정렬 -4

In [ ]:
a = [75, 'a', 'A', 98, 100]
print(a.sort())

리스트 길이

In [ ]:
var = [1, 2, 3, 4, 5, 6, 7]
print(len(var))

##딕셔너리

딕셔너리의 생성 및 사용 -1

In [ ]:
var1 = dict({'key1': 'value1', 'key2', 'value2'})
var2 = {'key1': 'value1', 'key2': 'value2'}
print(var1)
print(var2)
print(var1['key1'])
print(var2['key2'])

딕셔너리 생성 및 사용 -2

In [ ]:
var = {'key1': 'value1'}
print(var['key2'])

딕셔너리 생성 및 사용 -3

In [ ]:
var = {'key1': 'value1'}
print(var.get('key1'))
print(var.get('key1', 'default value'))
print(var.get('key2'))
print(var.get('key2', 'default value'))

###키(key) - 값(value) 생성

키 - 값 추가 -1

In [ ]:
var = {}
print(var)
var['key1'] = 10
print(var)
var['key1'] = 20
var['key2'] = 30
print(var)

키 - 값 추가 -2

In [ ]:
var = {}
print(var)
var.setdefault('key1', 10)
print(var)
var.setdefault('key1', 20)
var.setdefault('key2', 30)
print(var)

키가 없을 때는 키를 생성해서 값을 넣어주고, 키가 존재할 때는 어떤 작업도 하지 않는 경우가 있습니다.이때는 **setdefault()** 함수를 이용하면 됩니다.

###key, value, key-value 쌍 리스트 만들기

key 리스트 만들기

In [ ]:
var={'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(var.keys())

value 리스트 만들기

In [ ]:
var = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(var.values())

key-value 쌍으로 리스트 만들기

In [ ]:
var = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print(var.items())

딕셔너리 함수로 만든 리스트 인덱싱하기-1

In [ ]:
var = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
values

딕셔너리 함수로 만든 리스트 인덱싱하기 -2

In [ ]:
var = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
print('key' in var)
print('hello in var')

##튜플

튜플 생성 -1

In [ ]:
var1 = tuple((1,))
var2 = tuple((1, 2, 3))
var3 = tuple(1,)
var4 = tuple((1, 2, 3))
print(var1)
print(var2)
print(var3)
print(var4)

튜플 생성 -2

In [ ]:
var1 = (1)
print(var1)

###튜플 요소가 변경하거나 삭제한다면?

튜플 요소 삭제 시

In [ ]:
var = (1, 2, 3)
print(var1)
del var[0]

튜플 요소 수정 시

In [ ]:
var1 = (1, 2, 3)
print(var1)
var1[0] = 10

###튜플 요소 접근 및 연산

인덱싱

In [ ]:
var1 = (1, 2, 3, 4, 5)
print(var1[3])

슬라이싱

In [ ]:
var1 = (1, 2, 3, 4, 5)
print(var1[2:])

+, * 연산

In [ ]:
var1 = (1, 2, 3, 4, 5)
var2 = (11, 22, 33, 44, 55)
print(var1)
print(var2)
print(var1 + var2)
print(var1 * 3)
print(var2 * 3)

#연산자

##사칙연산자

사칙연산

In [ ]:
var1 = 1
var2 = 5
var1 += var2
print(var1)

##비교 연산자

##논리(관계)연산자

###AND 연산

AND 연산

In [ ]:
print(False and False)
print(False and True)
print(True and False)
print(True and True)
print(1 < 2 and 2 > 1)
print(1 > 2 and 2 > 1)

###OR 연산

OR 연산

In [ ]:
print(False or False)
print(False or True)
print(True or False)
print(True or True)
print(1 < 2 or 2 > 1)
print(1 > 2 or 2 > 1)

###NOT 연산

NOT 연산

In [ ]:
print(not True)
print(not False)
print(not 1)
print(not 2)
print(not 0)
print(not -1)
print(not 1 < 2)
print(not 1 > 2)

False
True
False
False
True
False
False
True

#조건분기

if문 사용

In [ ]:
condition_t = True
condition_f = False

if_condition_t:
  print('hello')
  print('world')
if condition_f:
  print('HELLO')
  print('WORLD')

print('last')

##if~else를 이용한 조건분기

if~else 구조

In [ ]:
condition1 = True
condition2 = True
condition3 = True

if condition1:
  print('첫번째 조건')
elif condition2:
  print('두번째 조건')
elif condition3:
  print('세번째 조건')
else:
  print('네번째 조건')

##포함 여부에 따른 조건분기

in을 이용한 조건검사

In [ ]:
if 'h' in 'hello world':
  print('hello world에 h가 포함되어 있습니다.')
if 1 in [11, 22, 33, 44, 55, 66]:
  print([11, 22, 33, 44, 55, 66], '에 1이 포함됩니다.')

#반복문

##while문을 이용한 반복문

while문 사용

In [ ]:
count = 0
while count < 5:
  print('%d 번째'%(count))
  count += 1

##for 문을 이용한 반복문

range()를 이용한 반복문

In [ ]:
for i in range(0, 5):
  print('%d번째'%( i))

문자열을 이용한 반복문

In [ ]:
for i in 'hello world':
  print(i)

리스트를 이용한 반복문

In [ ]:
for i in [11, 22, 33, 44, 55]:
  print(i)

딕셔너리를 이용한 반복문

In [ ]:
var = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
for key in var:
  print(key)
  print(var[key])

###for 문을 이용하여 간단한 프로그램 작성

구구단 출력

In [ ]:
for i in range(2, 5):
  for j in range(2, 5):
    print('%d * %d = %d'%(i, j, i*j))

문자열 빈도수 측정

In [ ]:
var = 'egoism, as a form of hedonism, is the doctirne which holds that we ought each of us to purse our own greates gappiness as our ultimate end. the doctrine will, of course, admit that sometimes the best means to the end will be to give pleasure to others; we shall, for instance, by so doing, procure for ourselves the pleasure of sympathy, of freedom from interference, and of self-esteem; and these pleasures, which we may procure by somethinig aiming directly at the happiness of other persons, may be greater than any we could otherwise get.'

space_ps = var.split(' ')

char_frequency = {}

for char in space_ps:
  char_frequency.setdefault(char, 0)
  char_frequency[char] += 1
print(char_frequency)